body {
    background-image: url(/photos/Career8.jpg);
}

.contactInfo li {
    text-decoration: none;
    list-style: none;
    font-size: 2vw;
    margin: 1vw;
}

main {
    margin: 0vh 4vh;
}

.company h5{
    color: grey;
    /* text-align: right; */
    text-indent: 2em;
}
.jobdetails{
    font-size: medium;
    /* color: blue;
    border: solid chartreuse 2px; */
}