body {
    background-image: url(/photos/Career8.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: black;
    background-position: center;
    background-size: cover;
    overflow: scroll;
}
.banner {
    padding: 2vh 4vh;
}

.wrapper {
    margin: 4vh 4vh;
    /* background-image: url(BGphotos/1MainBG.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: rgba(146, 182, 199, 0.911); */
    background-color: rgba(226, 237, 241, 0.89);
    background-position: center;
    overflow: scroll;
    line-height: 2em;
    border: 4px solid rgba(0, 0, 0, 0.1);
    ;
    padding: 10px;
    border-radius: 25px;
}

.contactInfo li {
    text-decoration: none;
    list-style: none;
    font-size: 2vw;
    margin: 1vw;
}

.nav-item{
font-size: 2vw;
}

main {
    margin: 0vh 4vh;
}