
body {
    background-image: url(/photos/mtGrass.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: black;
    background-position: center;
    background-size: cover;
    overflow: scroll;
}

.contactInfo li {
    text-decoration: none;
    list-style: none;
    font-size: 2vw;
    margin: 1vw;
}

a{
    font-family: 'Crete Round', serif;
}

ul{
    /* border: 2px chartreuse solid; */
    list-style: none;
}

iframe{
    width: 35vw;
    height: 18vw;
}