
body {
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: black;
    background-position: center;
    background-size: cover;
    overflow: scroll;
}

.banner {
    padding: 2vh 4vh;
}

.wrapper {
    margin: 8vh 8vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: rgba(146, 182, 199, 0.911); */
    background-color: rgba(241, 227, 226, 0.89);
    background-position: center;
    overflow: scroll;
    height: 900px;
    line-height: 2em;
    border: 4px solid rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 25px;
}

.nav-item{
    font-size: 1.8vw;
    color: gray;
    text-decoration: none;
    }


    .subheading li {
        text-decoration: none;
        list-style: none;
        font-size: 1.2vw;
        margin: 1vw;
    }